<% layout("/layouts/boilerplate") %>

<body>
    <div class="container mt-4">
        <div class="card custom-card">
            <img src="<%= listing.image %>" alt="Listing Image">
            <div class="card-body">
                <h5 class="card-title mb-3"><%= listing.title %></h5>
                <p class="card-text mb-4"><%= listing.description %></p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Price: &#8377; <%= listing.price.toLocaleString("en-IN") %></li>
                    <li class="list-group-item">Location: <%= listing.location %></li>
                    <li class="list-group-item">Country: <%= listing.country %></li>
                </ul>
                <div class="mt-4 text-center">
                    <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary btn-custom">Edit</a>
                    <form method="post" action="/listings/<%= listing.id %>?_method=Delete" class="d-inline">
                        <button type="submit" class="btn btn-danger btn-custom ms-2">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
