<% layout("/layouts/boilerplate") %>

    <body>
        <div class="container mt-4">
            <div class="card custom-card listing-card">
                <img src="<%= listing.image %>" alt="Listing Image">
                <div class="card-body">
                    <h5 class="card-title mb-1">
                        <%= listing.title %>
                    </h5>
                    <p class="card-text mb-3 "><b>Created by:</b> <i><%= listing.createdBy.username %></i></p>
                    <p class="card-text mb-4">
                        <%= listing.description %>
                    </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Price: &#8377; <%= listing.price.toLocaleString("en-IN") %>
                        </li>
                        <li class="list-group-item">Location: <%= listing.location %>
                        </li>
                        <li class="list-group-item">Country: <%= listing.country %>
                        </li>
                    </ul>
                    <% if(currUser && currUser._id.equals(listing.createdBy._id)){ %>
                    <div class="mt-4 text-center">
                        <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary btn-custom">Edit</a>
                        <form method="post" action="/listings/<%= listing.id %>?_method=Delete" class="d-inline">
                            <button type="submit" class="btn btn-danger btn-custom ms-2">Delete</button>
                        </form>
                    </div>
                    <% } %>
                </div>
            </div>

            <% if(currUser){ %>

            <div class="review">
                <h5>Leave a review</h5>
                <form method="post" action="/listings/<%= listing.id  %>/reviews" novalidate class="needs-validation">
                    <div>
                        <label for="rating" class="form-label">Rating</label>
                        <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
                    </div>
                    <div>
                        <label for="comment" class="form-label">Comment</label>
                        <textarea name="review[comment]" id="comment" class="form-control" required></textarea>
                        <div class="invalid-feedback">Please add some comments for review</div>
                    </div>
                    <button class="btn btn-dark"> submit </button>
                </form>
            </div>
            <% } %>
            
            <div class="all-review">
                <% if(listing.reviews.length){ %>
                    <h5>All Reviews</h5>
                <% } %>
                <div class="row d-flex justify-content-between">

                    <% for(review of listing.reviews){ %>
                        <div class="card col-5 mb-3 ms-3 pt-2 pb-2">
                            <div class="card-body">
                                <h5 class="card-title">@<%= review.author.username  %></h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">Date</h6>
                                <p class="card-text">
                                    <%= review.comment %>
                                </p>
                                <p class="card-text">
                                    <%= review.rating %> stars
                                </p>
                            </div>
                            
                            <form method="post" action="/listings/<%= listing.id  %>/reviews/<%= review._id %>?_method=Delete" class="mt-2">
                            <% if(currUser.id == review.author._id){ %>
                            <button class="btn btn-danger">Delete</button>
                            <% }else{ %>
                            <button class="btn btn-danger" disabled>Delete</button>
                            <% } %>
                            </form>
                        </div>
                    <% } %>
                </div>
            </div>

        </div>
    </body>